@page "/lucid-dreaming"
@using SuneDoes.UI.Pages.OnlineDating.Apps
@inherits MasterPage

@foreach (var glimmer in _glimmers)
{
    <LucidDreamingGlimmerComponent PercentLeft="glimmer.PercentLeft"
                                   InitialDelay="glimmer.InitialDelay"
                                   NumberOfSeconds="glimmer.AnimationTimeSeconds"></LucidDreamingGlimmerComponent>
}

<div class="sundo-lucid-dreaming-bg container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8 col-sm-12">
            <div class="sundo-lucid-dreaming-summary-container">
                <div class="sundo-lucid-dreaming-summary-text-container container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="sundo-lucid-dreaming-summary-header">Sune Does Lucid Dreaming</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="sundo-lucid-dreaming-summary-details">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="sundo-lucid-dreaming-dreams-container">
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-3 dream-offset-1">
                    <LucidDreamComponent DreamDate="@D("01-01-2024")">
                        <TextPart>
                            EuroCup (soccer/football) 2024 was being played on the grass field in front of my apartment building. I had trouble googling why stadium equipment was being raised.
                        </TextPart>
                    </LucidDreamComponent>
                </div>
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-1 dream-offset-2">
                    <LucidDreamComponent DreamDate="@D("02-01-2024")">
                        <TextPart>
                            We were selling burgers and milkshakes. The BLACK MEAT was under no circumstances to be used (or maybe it was the white...?). I was a young man. I was incapable of grocery shopping and driving a car.<br/>
                            My dream diary appeared. Young woman was in trouble. She befriends my X-wife (not sure it was my actual X-wife). Romance ensues. The possibility of having to do whole-sale shopping loomed.
                        </TextPart>
                    </LucidDreamComponent>
                </div>
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-5 dream-offset-3">
                    <LucidDreamComponent DreamDate="@D("06-01-2024")">
                        <TextPart>
                            Threw some kind of huge party. I was multitasking, playing dodge ball and doing business. I think it was a birthday party for my son.<br/>
                            Lotte was there.
                        </TextPart>
                    </LucidDreamComponent>
                </div>
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-2 dream-offset-4">
                    <LucidDreamComponent DreamDate="@D("08-01-2024")">
                        <TextPart>
                            Son and I went to the TAP restaurant in Ballerup Centret. 2 people tried to steal my phone when I went to pay the bill. We went home.<br/>
                            Son took part in a disappearance-act in my honor. Old army-buddy also took part in the shenanigans but I was onto them, and pranked him (the army-buddy) that I would kill him with a knife.<br/>
                            My X-wife left me a newspaper clipping about Herlev Kollegiet on bus 147.
                        </TextPart>
                    </LucidDreamComponent>
                </div>
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-3 dream-offset-5">
                    <LucidDreamComponent DreamDate="@D("10-01-2024")">
                        <TextPart>
                            There was some kind of get-together for a weird blend of people. Jacqueline was there. She hadn't changed much. My bicycle was also there; it had changed A LOT!<br/>
                            We visited an old man who could sell us hand grenades. I had to pee, but someone was in the bathroom. I decided to stop by the Mouh Goon, because it was just too much work the other way around.
                        </TextPart>
                    </LucidDreamComponent>
                </div>
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-1 dream-offset-6">
                    <LucidDreamComponent DreamDate="@D("17-01-2024")">
                        <TextPart>
                            For some reason, the company for which I work had raised a soccer/football stadium. While I was in a Teams meeting with my colleagues from Randers, I went into the stadium to pour a carton of milk onto the field in celebration/as a prank.<br/>
                            I had a hard time finding my way back to my car. I was being followed by two semi-large dudes. I asked them where they were going. They answered me in Danish. I turned back the way I had come from, in order not to lead them to my car. They followed me. I went to the center of a large parking area, and rolled up my sleeves. They ran towards me. I awakened as I threw a full-comital hay-maker at the first of them.
                        </TextPart>
                    </LucidDreamComponent>
                </div>
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-5 dream-offset-7">
                    <LucidDreamComponent DreamDate="@D("22-01-2024")">
                        <TextPart>
                            I had my first day of work at a drug-rehabilitation center, when I realized I already had a job.
                        </TextPart>
                    </LucidDreamComponent>
                </div>
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-2 dream-offset-8">
                    <LucidDreamComponent DreamDate="@D("24-01-2024")">
                        <TextPart>
                            For the 3rd time, my X-wife gifted me a solo-trip to the United States. I didn't understand why, because I didn't really want to go to the United States.<br/>
                            I was drinking and popping various types of pills. During my trip, 2 middle-aged villains, one man and one woman, killed each other. First day of school - or it may have been first day back to work - I had a hangover.
                        </TextPart>
                    </LucidDreamComponent>
                </div>
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-1 dream-offset-9">
                    <LucidDreamComponent DreamDate="@D("30-01-2024")">
                        <TextPart>
                            I realized that I was dreaming. Tried to stay in the dream.<br/>
                            There was a gang-war. Somebody got beat up with a bat. I think I mostly just watched.<br/>
                            People from different gangs joined the Christmas celebrations at my parents' house. Everybody had to leave before dinner was served. I was angry.
                        </TextPart>
                    </LucidDreamComponent>
                </div>
                <div class="sundo-lucid-dreaming-dreams-wrapper dream-size-3 dream-offset-10">
                    <LucidDreamComponent DreamDate="@D("02-02-2024")">
                        <TextPart>
                            LUCIDITY! A LOT of things happened!<br/>
                            I was in Spain, carrying a younger version of my son and checked my tattoo. It was blurred out, and then I knew I was dreaming. Attempted to fly on several occasions, but couldn't.<br/>
                            At Parken Stadium for the Copenhagen Derby, I discovered that I also couldn't just walk in without paying, just like I couldn't conjure money into existence at a grocery store.
                        </TextPart>
                    </LucidDreamComponent>
                </div>



            </div>
        </div>
    </div>
</div>

