@using SuneDoes.UI.Components.Email
@using SuneDoes.UI.Components.Validation

<div class="sundo-medicine-notify-component" @onclick="@(() => CloseDialog())">
    <div class="sundo-medicine-notify-container" @onclick:stopPropagation style="top: @(YOffSet)px;">
        <div class="sundo-medicine-notify-header">NOTIFY DOCTOR SUNE</div>
        <div class="sundo-medicine-notify-explain">
            Leave me your email address below along with a short description of what Sune's Dangerous Medication Removal Service 
            can help you with, and I'll get back to you ASAP
        </div>
        <div class="sundo-medicine-notify-input-container">
            <div class="sundo-medicine-notify-divided-input">
                <div class="sundo-medicine-notify-divided-part">
                    <ValidationInputText
                        Label="Email"
                        InputType="email"
                        OnUpdateAsync="OnEmailUpdate"
                        State="_currentEmailValidationState"
                        ValidationInfo="@_currentEmailValidationInfo"
                    ></ValidationInputText>
                </div>
                <div class="sundo-medicine-notify-divided-part">
                    <button 
                        type="button" 
                        class="sundo-medicine-notify-button" 
                        id="sundo-medicine-notify-verify-button" 
                        disabled="@(CanSendEmail ? null : "disabled")"
                    @onclick="@(() => OnSendClicked())">Verify Email</button>
                </div>

            </div>

        </div>
        <div class="sundo-medicine-notify-input-container">
            <label class="sundo-medicine-notify-input-label" for="sundo-medicine-notify-medicine-type-input">Medicine Type</label>
            <input class="sundo-medicine-notify-input" id="sundo-medicine-notify-medicine-type-input" type="text" @bind="MedicineType" />
        </div>
        <div class="sundo-medicine-notify-input-container">
            <label class="sundo-medicine-notify-input-label" for="sundo-medicine-notify-medicine-type-input">Comment</label>
            <textarea class="sundo-medicine-notify-input" id="sundo-medicine-notify-medicine-type-input" rows="5" @bind="Details" />
        </div>
        @if(_errorMessages.Any()) {
            <div class="sundo-medicine-notify-errors-container">
                @foreach(var err in _errorMessages) {
                    <div class="sundo-medicine-notify-error">* @err</div>
                }
            </div>

        }
        <div class="sundo-medicine-notify-button-container">
            <button type="button" class="sundo-medicine-notify-button" @onclick="(() => OnCancelClicked())">Nevermind</button>
            <button 
                type="button" 
                class="sundo-medicine-notify-button" 
                disabled="@(_errorMessages.Any() ? "disabled": null)"
                @onclick="@(() => OnSubmitClicked())"
            >Notify Doctor Sune</button>
        </div>

    </div>
</div>