<div class="sundo-component-validation-input-text-container">
    <label for="@ElementId">@Label</label>
    <input id="@ElementId" class="@InputClass" @bind="CurrentText" />
    @if(ValidationInfo != null) 
    {
        <div class="sundo-component-validation-info @(StateClass)-info">@ValidationInfo</div>
    }

</div>