<button class="sundo-popover-detailed-button" popovertarget="@_stringId" style="@BuildButtonStyleAttribute()">@(ButtonText)</button>
<div class="sundo-popover-detailed-popover" id="@_stringId" style="@BuildPopoverStyleAttribute()" popover>@(PopoverText)</div>